<app-category></app-category>
<section style="min-height: 700px; height: auto;">



    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 my-2">

                    <p class="display-4">Shop</p>
                </div>

                <div class="col-sm-12">

                    <div class="row">

                        <app-products class="col-md-3" *ngFor="let productItem of products" [productItemContract]="productItem"></app-products>
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>