header {
	width: 100%;
	overflow: hidden;
	background: white;
	font-family: 'Comfortaa';
	font-size: 0.8rem;
	padding: 1rem 0rem;
	border-bottom: 1px solid #857be6;
}

a {
	text-decoration: none;
	color: #555 !important;
}

ul {
	text-align: end;
}

.mini-cart-content1 ul{
	text-align: justify;
}

ul li {
	padding: 0px 5px;
}

ul li.divider {
	border-right: 1px solid #857be6 !important;
}

.call-us {
	margin-right: 7px;
}

header i {
	color: #857be6;
	margin-right: 0.5rem;
}

.mini-cart-box {
	width: auto;
}



.mini-cart-content1 {
	display: none;
	padding: 12px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10001;
	background: #fff;
	box-shadow: 0 5px 5px 0 #857be6;
	width: 30%;
	height: 100%;
	bottom: 0;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
}
