<header id="header">


  <div class="container mb-2">
    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div class="call-us">
          <span class="text-uppercase"><i class="fas fa-phone-volume"></i>Call us: +234 810 792 6083</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">

        <ul class="list-inline pull-right">

          <li class="list-inline-item">
            <div class="search-box">
              <a href="#" class="text-uppercase title12 link-hover"><i class="fas fa-search"></i>Search</a>

            </div>
          </li>

          <li class="divider list-inline-item"></li>

          <!-- <li class="list-inline-item">
                      <a href="index.html" class="text-uppercase title12 link-hover"><i class="fas fa-user"></i> My Account</a>
                    </li>
                    
                    <li class="divider list-inline-item"></li> -->

          <li class="list-inline-item">

            <div class="mini-cart-box aside-box style-mini-cart">


              <a (click)="toggleCategory()" class="link-hover text-uppercase"><i class="fas fa-shopping-bag"></i>My
                Cart</a>

              <div #cart_list class="mini-cart-content1 text-left">

                <ul class="list-group list-group-flush mt-4">

                  <p class="row">
                    <span class="col-sm-9 display-4" style="color: #857be6;">
                      Your Cart
                    </span>
                    <span class="col-sm-3">
                      <a class="btn" (click)="toggleCategory()" style="border: 0px; box-shadow: 0px; font-size: 2rem;"><i
                          class="fas fa-times"></i></a>
                    </span>

                  </p>

                  <li *ngFor="let product of productInCart; let i=index" style="font-size: 1.2rem; margin: 2px 0px;"
                    class="list-group-item ">
                    <a href="#" style="width: 150px;">{{ product.name }}</a>

                    <span class="ml-4 mr-2">{{ (qty[product.key] * product.discountPrice) }}</span>
                    <span class="badge badge-primary badge-pill">{{ qty[product.key] }}</span>
                  </li>

                  <li class="list-group-item" style="font-size: 1.5rem; margin-top: 1rem">
                    <a href="#" style="width: 100%;">Total</a>


                    <span class="badge badge-outline-primary badge-pill">{{ total }}</span>
                  </li>

                  <li class="list-group-item" *ngIf="!isProductInCartEmpty" style="font-size: 1.5rem; margin-top: 1rem">
                    <a href="#" style="width: 100%;" class="btn btn-block btn-outline-primary"> <i class="fas fa-check"></i>
                      Check out</a>
                  </li>

                </ul>

              </div>
            </div>

          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <app-nav></app-nav>
    </div>
  </div>
</header>