a {
	text-decoration: none;
	color: #555 !important;
}

.mini-cart-content {
	display: none;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10002;
	background: #fff;
	box-shadow: 0 0px 0px 0.1rem #857be6;
	width: 370px;
	bottom: 0;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	padding: 1rem !important;
}

ul p {
	padding: 5px;
}

ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
ul li:hover {
	background: #7386d5;
	color: #fff !important;
}

ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}
ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}
