<section>
  <a (click)="toggleCategory()" class="btn btn-xxlarge" style="font-size:4rem; border-radius: 0rem 2rem 2rem 0rem; position: fixed; top:35%; left:0%; background:#857be6; color: white !important;"><i
      class="fas fa-chevron-right text-light pr-2"></i></a>

  <div class="mini-cart-content text-left" #cat_aside>

    <div style="position: relative;">

      <p class="row">
        <span class="col-sm-9 display-4" style="color: #857be6;">
          Category
        </span>
        <span class="col-sm-3">
          <a class="btn" (click)="toggleCategory()" style="border: 0px; box-shadow: 0px; font-size: 2rem;"><i class="fas fa-times"></i></a>
        </span>

      </p>

      <ng-template *ngIf="!category else cat_list">
        <a style="position:absolute; top: 50%; left: 50px;"><i class="fas fa-circle-notch fa-spin fa-2x"></i></a>
      </ng-template>

      <ng-template #cat_list>
        <ul class="list-group list-group-flush mt-4">

          <li *ngFor="let cat of category" class="list-group-item d-flex justify-content-between align-items-center">
            <a [routerLink]="['/shop','cat',cat.key]" style="width: 100%;">{{ cat.name }}</a>
            <!-- <span class="badge badge-primary badge-pill">14</span> -->
          </li>
        </ul>
      </ng-template>

    </div>

  </div>


</section>