
<ngb-carousel *ngIf="images">


        <ng-template ngbSlide>
            
            <div [ngStyle]="{ 'height': defaultHeight }">
              <img [src]="images[0]" width="100%" height="auto" style="object-fit:cover;" alt="first slide">
            </div>
      
            <div class="carousel-caption d-none d-sm-block text-right mb-2" style="position: absolute; top: 40%;">
                
                <p class="display-2">Shop fast</p>
                <!-- <a [routerLink]="'/shop'" class="btn btn-dark btn-lg">Enter shop</a> -->
            </div>
     
            
        </ng-template>
      
        <ng-template ngbSlide>
      
            <div [ngStyle]="{ 'height': defaultHeight }">
              <img [src]="images[1]" width="100%" height="auto" style="object-fit:cover;" alt="Second slide">
            </div>
      
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
                
                <p class="display-2">Look smart</p>
                <!-- <a href="#" class="btn btn-success btn-lg">Learn more</a> -->
            </div>
      
       
        </ng-template>
        
        <ng-template ngbSlide>
            
            <div [ngStyle]="{ 'height': defaultHeight }">
              <img [src]="images[2]" width="100%" height="auto" style="object-fit:cover;" alt="Third slide">
            </div>
      
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <h1 class="display-2">Just fashion</h1>
                
            </div>
      
            
      
        </ng-template>
      
        
        
      </ngb-carousel>