div.logo a span {
	color: #857be6;
	font-size: 1.25rem;
	font-family: 'Comfortaa' !important;
}

a {
	text-decoration: none;
	color: #555 !important;
}

ul {
	text-align: end;
}

ul li {
	padding: 0px 5px;
	position: relative;
}

.main-menu ul li a:hover {
	background: transparent !important;
	color: #857be6;
}

ul li:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 12px;
	left: 0;
	bottom: 0px;
	color: #857be6;
	background-color: #857be6;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transition: all .15s ease-in;
	z-index: 1;
}

ul li:hover:after {
	visibility: visible;
	transform: scaleX(1);
	transition: all .25s ease-out;
}

ul li.divider {
	border-right: 1px solid #857be6 !important;
}
