

      <div class="main-header bg-white">
        
          
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="logo">
                  <a [routerLink]="['/']" class="text-uppercase" style="display: block; width: 190px;">
                    
                    <span><b>Fashion</b>.Store</span>
                    
                  </a>
                </div>
              </div>

              <div class="col-md-9 col-sm-9">
              
                <nav class="main-nav pull-right">
                 
                    <ul class="list-inline pull-right">
    
                      
                        <li class="list-inline-item">
                            <a [routerLink]="['/']" class="text-uppercase"> Home</a>
                        </li>
                        
                        <li class="divider list-inline-item"></li>
    

                        <li class="list-inline-item">
                          <div class="search-box">
                            <a [routerLink]="['/shop']" class="text-uppercase"><i class="fas fa-shop"></i>Shop</a>
                           
                          </div>
                        </li>
        
                        
                      </ul>

                </nav>
              </div>
            </div>
          
        </div>
      