<div class="card my-1" style="width: 100% !important;">

  <img class="card-img-top" [src]="product.thumbnail" alt="Card image cap">

  <div class="card-body">

    <div class="card-text  text-center text-truncate mb-3">{{ product.name }} . <b>{{ product.category }}</b></div>


    <div class="card-text row text-center mb-2">
      <div class="col">
        <span class="mr-2 text-muted">
          <del>${{ product.realPrice }}</del>
        </span><br>
        <span style="font-style: bold;">${{ product.discountPrice }}</span>
      </div>

      <div class="col">
        <button (click)="addToCart()" class="btn btn-sm btn-outline-primary">Add
          to Cart</button>
      </div>

    </div>

    <div class="row">

      <div class="col">
        <a [routerLink]="['/shop','details',product.key]" class="btn btn-sm btn-block" [ngStyle]="{'background-color': '#857be6', 'color':'#fff'}">Open</a>
      </div>

    </div>

  </div>
</div>