<app-category></app-category>
<section style="min-height: 700px; height: auto;">


  <div class="row">
    <div class="container">
      <div class="row">

        <div class="col-sm-12">

          <div class="row">

            <div class="col-sm-12 col-md-6">
              <img class="img-fluid" [src]="product.frontView" alt="Card image cap">
            </div>

            <div class="col-sm-12 col-md-6">

              <p class="col-sm-12 display-4">
                {{ product.name}}
              </p>

              <p class="col-sm-12 lead">
                Category: {{ product.category }}
              </p>

              <p class="col-sm-12">
                Description:
                {{ product.description}}
              </p>

              <p class="col-sm-12">
                {{ product.itemInStock}} remaining in stock
              </p>

              <p class="col">
                <button (click)="addToCart()" class="btn btn-sm btn-outline-primary">Add
                  to Cart</button>
              </p>
            </div>


          </div>
        </div>

      </div>

    </div>
  </div>


</section>