<section>

  <div class="row" style="margin: 7rem 0rem;">
    <div class="container" *ngIf="arrivals">

      <div class="row">
        <p class="col-sm-12 display-4 text-center">
          New Arrivals
        </p>

        <div class="col-sm-12 col-md-3 p-2">
          <div class="card">
            <img class="card-img-top" [src]="arrivals[0].link" alt="Card image cap">
            <div class="card-body">

              <p class="card-text">Smart huggies <br><span class="text-center">{{ arrivals[0].price }}</span></p>

              <a [routerLink]="'/shop/details/1'" class="btn btn-block btn-outline-primary text-center"><i class="fas fa-eye"></i>
                View</a>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 p-2">
          <div class="card">
            <img class="card-img-top" [src]="arrivals[1].link" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Smart huggies <br><span class="text-center">{{ arrivals[1].price }}</span></p>

              <a [routerLink]="'/shop/details/2'" class="btn btn-block btn-outline-primary text-center"><i class="fas fa-eye"></i>
                View</a>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 p-2">
          <div class="card">
            <img class="card-img-top" [src]="arrivals[2].link" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Smart huggies <br><span class="text-center">{{ arrivals[2].price }}</span></p>

              <a [routerLink]="'/shop/details/3'" class="btn btn-block btn-outline-primary text-center"><i class="fas fa-eye"></i>
                View</a>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 p-2">
          <div class="card">
            <img class="card-img-top" [src]="arrivals[3].link" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Smart huggies <br><span class="text-center">{{ arrivals[3].price }}</span></p>

              <a [routerLink]="'/shop/details/4'" class="btn btn-block btn-outline-primary text-center"><i class="fas fa-eye"></i>
                View</a>
            </div>
          </div>
        </div>

        <div class="col-sm-3 offset-sm-5 p-2 mt-2">
          <a [routerLink]="['/shop']" class="btn btn-block btn-outline-primary text-light p-2 text-center" style=""><i
              class="fas fa-shopping-cart position: absolute; top: 50%; left: 50%;"></i> Enter Shop</a>
        </div>






      </div>

    </div>
  </div>
</section>